@model VertaMeet.Models.GroupViewModel
@{
    ViewBag.Title = Model.InterestGroup.Name + " Group";
}

<style type="text/css">
    #ProfilePage {
        /* Move it off the top of the page, then centre it horizontally */
        margin: 15px auto;
        width: 75%;
        /* For visibility. Delete me */
        border: 1px solid red;
        text-align:center;
    }

    #ProfileButtons {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    #ProfileOptions {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 75%;
        /* For visibility. Delete me */
        /*border: 1px solid black;*/
    }

    #Members {
        display:none;
        align-content:center;
        align-items:center;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 75%;
        /* For visibility. Delete me */
        /*border: 1px solid black;*/
    }

    #Photoz {
        display:none;
        align-content:center;
        align-items:center;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 75%;
        /* For visibility. Delete me */
        /*border: 1px solid black;*/
    }

    #UserPhoto {
        display: inline;
        width: 50px;
        height: 50px;
    }

    #DisplayPhotos {
        display: inline;
        width: 50px;
        height: 50px;
    }

    #UpcomingEvents {
        align-content:center;
        align-items:center;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 75%;
        /* For visibility. Delete me */
        /*border: 1px solid black;*/
    }

    #LeftCol {
        /* Move it to the left */
        display:inline-block;
        width: 200px;
        text-align: center;
        /* Move it away from the content */
        margin-right: 20px;
        /* For visibility. Delete me */
        border: 1px solid brown;
    }

    #Photo {
        /* Width and height of photo container */
        width: 300px;
        height: 200px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        /* For visibility. Delete me */
        border: 1px solid green;
    }

    #PhotoOptions {
        text-align: center;
        width: 200px;
        /* For visibility. Delete me */
        border: 1px solid brown;
    }

    #Info {
        visibility: hidden; /*Temp*/
        width: 400px;
        text-align: center;
        /* Move it to the right */
        float: right;
        /* For visibility. Delete me */
        border: 1px solid blue;
    }

        #Info strong {
            /* Give it a width */
            display: inline-block;
            width: 100px;
            /* For visibility. Delete me */
            border: 1px solid orange;
        }

        #Info span {
            /* Give it a width */
            display: inline-block;
            width: 250px;
            /* For visibility. Delete me */
            border: 1px solid purple;
        }
</style>
<div class="container">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>Welcome to the @Model.InterestGroup.Name Group!</strong>
            </h2>
            <hr>
            <img class="img-responsive img-border img-center" src="@Model.InterestGroup.ImageUrl" alt="">
            <hr class="visible-xs">
            <div id="ProfileButtons" role="group" aria-label="...">
                <button type="button" class="btn btn-default" id="AboutB" onclick="about()">About</button>
                <button type="button" class="btn btn-default" id="MembersB" onclick="members()">Members</button>
                <button type="button" class="btn btn-default" id="PhotozB" onclick="photos()">Photos</button>
            </div>
            <div id="ProfileOptions">
                <p>@Model.InterestGroup.Description</p>
            </div>
            <div id="Members">
                @foreach (var membr in Model.InterestGroup.Members)
                {
                    <a href="#" title=@membr.Name><img id="UserPhoto" src="http://lwos.lastwordonsports.netdna-cdn.com/lwos-content/uploads/2013/07/silhouette.jpg" alt=@membr.Name></a>
                }
            </div>
            
            <!-- Image Gallery for Groups -->
            <!-- Should work, not definate yet, though. -->
            <div id="Photoz">
                @foreach (var photo in Model.InterestGroup.ImageGallery) { 
                    <img id="UserPhoto" src=@photo>
                }
            </div>

        </div>
    </div>
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>Come check out our upcoming events in the @Model.InterestGroup.Name Group!</strong>
            </h2>
            <hr>
            <hr class="visible-xs">
            <div class="tiles red" id="UpcomingEvents">
                <table>
                    <tr>
                        @foreach (var evnt in Model.Events)
                        {
                            <td>
                                <div class="live-tile" id="tile1" data-mode="flip">
                                    <div>
                                        <img src="@evnt.ImageUrl" height="150" width="150">
                                        <a class="full" href="~/eventview?eventID=@evnt.Id">@evnt.Name</a>
                                        <span class="tile-title">@evnt.Name</span>
                                    </div>
                                    <div>
                                        <a href="~/eventview?eventID=@evnt.Id"><img src="@evnt.ImageUrl" height="150" width="150"></a>
                                        <span class="tile-title">@evnt.Name</span>
                                    </div>
                                </div>
                            </td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="http://www.drewgreenwell.com/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="http://www.drewgreenwell.com/Scripts/MetroJs/bundles/MetroJs.js" type="text/javascript"></script>

<script type="text/javascript">
    //play on hover
    var $tiles = $("#tile1, #tile2, #tile3").liveTile({
        playOnHover: true,
        repeatCount: 0,
        delay: 0,
        startNow: false
    });
</script>
