<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>VertaMeet -@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="https://c1.staticflickr.com/1/460/19249552213_e99c258e7c_m.jpg" />
    <!-- Bootstrap Core CSS -->
    <link href="http://rstudio.github.io/shinydashboard/libs/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="http://ironsummitmedia.github.io/startbootstrap-business-casual/css/business-casual.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Login Pop up styling -->
    <style>
        /* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
}

img.btn_close {
    /* Position the close button */
	float: right;
    margin: -28px -28px 0 0;
}

fieldset {
    border: none;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

form.signin .textbox input {
    background: #666666;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 200px;
}

form.signin input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

.button {
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font-size: 12px;
    width: 214px;
}

.button:hover {
    background: #ddd;
}
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <script src="@Url.Content("~/Scripts/common.js")"></script>

    @RenderSection("PageScripts", false /*required*/)
    @RenderSection("PageStyles", false /*required*/)

    <script src="http://www.drewgreenwell.com/Scripts/MetroJs/bundles/MetroJs.js"></script>
    <script src="http://rstudio.github.io/shinydashboard/libs/bootstrap-3.3.1/shim/html5shiv.min.js"></script>
    <script src="http://rstudio.github.io/shinydashboard/libs/bootstrap-3.3.1/shim/respond.min.js"></script>
    <script src="http://rstudio.github.io/shinydashboard/libs/jquery-1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://rstudio.github.io/shinydashboard/custom.css" type="text/css" />
    <link rel="stylesheet" href="http://www.drewgreenwell.com/Scripts/MetroJs/bundles/MetroJs.css" type="text/css" />
</head>
<body style="background: #808080">
    <div class="brand">VertaMeet</div>
    <div class="address-bar">Where Employees Come Together</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation" style="border : 30px solid #ff6a00; background: #ff6a00 url('https://c1.staticflickr.com/1/460/19249552213_e99c258e7c_m.jpg'); background-position: left; background-repeat: no-repeat;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><span id="current-user-name">@Request.Cookies["userName"]</span></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Login Popup -->
    <div class="container body-content" style="background-color:#DDDDDD">
        @RenderBody()

        <div id="login-modal" class="login-popup">
            <a href="#" class="close"></a>
            <form method="post" class="signin" id="initial-login-form" action="#">
                <fieldset class="textbox">
                    <label class="username">
                        <span>Name</span>
                        <input name="Name" type="text" required />
                    </label>
                    <label class="password">
                        <span>Email</span>
                        <input name="Email" type="text" required />
                    </label>
                    <label class="password">
                        <span>Location: </span>
                        <select name="Location" required>
                            <option disabled selected value=""> -- Select a Location -- </option>
                            <option value="Atlanta">Atlanta</option>
                            <option value="Bothell">Bothell</option>
                            <option value="Boulder">Boulder</option>
                            <option value="Deerfield">Deerfield</option>
                            <option value="EastLansing">EastLansing</option>
                            <option value="Indianapolis">Indianapolis</option>
                            <option value="Pulaski">Pulaski</option>
                            <option value="Windsor">Windsor</option>
                            <option value="WoodlandHills">WoodlandHills</option>
                        </select>
                    </label>
                    <button class="submit button" type="button">Sign in</button>
                </fieldset>
            </form>
        </div>

        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Copyright &copy; VertaMeet 2015</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Login Popup JS -->
    <script>
        $(document).ready(function () {
            $('a.login-window').click(function () {

                //Getting the variable's value from a link 
                var loginBox = $(this).attr('href');

                //Fade in the Popup
                $(loginBox).fadeIn(300);

                //Set the center alignment padding + border see css style
                var popMargTop = ($(loginBox).height() + 24) / 2;
                var popMargLeft = ($(loginBox).width() + 24) / 2;

                $(loginBox).css({
                    'margin-top': -popMargTop,
                    'margin-left': -popMargLeft
                });

                // Add the mask to body
                $('body').append('<div id="mask"></div>');
                $('#mask').fadeIn(300);

                return false;
            });

            // When clicking on the button close or the mask layer the popup closed
            $('a.close, #mask').live('click', function () {
                $('#mask , .login-popup').fadeOut(300, function () {
                    $('#mask').remove();
                });
                return false;
            });
        });
    </script>
</body>
</html>
