<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>VertaMeet -@ViewBag.Title</title>
    <!-- Logo -->
    <link rel="icon" type="image/png" href="https://c1.staticflickr.com/1/460/19249552213_e99c258e7c_m.jpg" />
    <!-- Bootstrap Core CSS -->
    <link href="http://rstudio.github.io/shinydashboard/libs/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    @Styles.Render("~/Content/business-casual.css")
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Modal Style, needs to be put into site style sheet -->
    <style>
        .modal {
            display: none;
            background: #333;
            padding: 10px;
            border: 2px solid #ddd;
            float: left;
            font-size: 1.2em;
            position: fixed;
            top: 0%;
            left: 0%;
            z-index: 99999;
            box-shadow: 0px 0px 20px #999;
            /* CSS3 */
                -moz-box-shadow: 0px 0px 20px #999;
            /* Firefox */
                -webkit-box-shadow: 0px 0px 20px #999;
            /* Safari, Chrome */
	        border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px;
            /* Firefox */
                -webkit-border-radius: 3px;
            /* Safari, Chrome */;
        }
    </style>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <script src="@Url.Content("~/Scripts/common.js")"></script>

    @RenderSection("PageScripts", false /*required*/)
    @RenderSection("PageStyles", false /*required*/)

    <!-- Tile CSS/JS -->
    <script src="http://www.drewgreenwell.com/Scripts/MetroJs/bundles/MetroJs.js"></script>
    <script src="http://rstudio.github.io/shinydashboard/libs/bootstrap-3.3.1/shim/html5shiv.min.js"></script>
    <script src="http://rstudio.github.io/shinydashboard/libs/bootstrap-3.3.1/shim/respond.min.js"></script>
    <script src="http://rstudio.github.io/shinydashboard/libs/jquery-1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://rstudio.github.io/shinydashboard/custom.css" type="text/css" />
    <link rel="stylesheet" href="http://www.drewgreenwell.com/Scripts/MetroJs/bundles/MetroJs.css" type="text/css" />
</head>

<body style="background: #808080">
    <div class="brand">VertaMeet</div>
    <div class="address-bar">Where Vertafore Employees Come Together <br/> To Unleash their potential</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation" >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </ul>
                <span id="current-user-name">
                    @if (@Request.Cookies["userName"] != null)
                    {
                        @Request.Cookies["userName"].Value
                    }
                </span>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Content -->
    <div class="container body-content" style="background-color:#DDDDDD">
        @RenderBody()

        <!-- Modal -->
        <div id="login-modal" class="modal">
            <div class="modal-dialog">
                <!-- Modal Content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dissmiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <a href="#" class="close"></a>
                        <form method="post" class="signin" id="initial-login-form" onsubmit="return false;">
                            <fieldset class="textbox">
                                <label class="username">
                                    <span>Name</span>
                                    <input name="Name" type="text" required />
                                </label>
                                <label class="password">
                                    <span>Email</span>
                                    <input name="Email" type="text" required />
                                </label>
                                <label class="password">
                                    <span>Location: </span>
                                    <select name="Location" required>
                                        <option disabled selected value=""> -- Select a Location -- </option>
                                        <option value="Atlanta">Atlanta</option>
                                        <option value="Bothell">Bothell</option>
                                        <option value="Boulder">Boulder</option>
                                        <option value="Deerfield">Deerfield</option>
                                        <option value="EastLansing">EastLansing</option>
                                        <option value="Indianapolis">Indianapolis</option>
                                        <option value="Pulaski">Pulaski</option>
                                        <option value="Windsor">Windsor</option>
                                        <option value="WoodlandHills">WoodlandHills</option>
                                    </select>
                                </label>
                                <button class="submit button" type="submit">Sign in</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>

        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Copyright &copy; VertaMeet 2015</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
