<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>VertaMeet -@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="https://c1.staticflickr.com/1/460/19249552213_e99c258e7c_m.jpg" />
    <!-- Bootstrap Core CSS -->
    <!--<link href="http://rstudio.github.io/shinydashboard/libs/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet" />
-->
    <!-- Custom CSS -->
    <link href="http://ironsummitmedia.github.io/startbootstrap-business-casual/css/business-casual.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <script src="@Url.Content("~/Scripts/common.js")"></script>

    @RenderSection("PageScripts", false /*required*/)
    @RenderSection("PageStyles", false /*required*/)

    <script src="http://www.drewgreenwell.com/Scripts/MetroJs/bundles/MetroJs.js"></script>
    <script src="http://rstudio.github.io/shinydashboard/libs/bootstrap-3.3.1/shim/html5shiv.min.js"></script>
    <script src="http://rstudio.github.io/shinydashboard/libs/bootstrap-3.3.1/shim/respond.min.js"></script>
    <script src="http://rstudio.github.io/shinydashboard/libs/jquery-1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://rstudio.github.io/shinydashboard/custom.css" type="text/css" />
    <link rel="stylesheet" href="http://www.drewgreenwell.com/Scripts/MetroJs/bundles/MetroJs.css" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body style="background: #808080">
    <div class="brand">VertaMeet</div>
    <div class="address-bar">Where Employees Come Together</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation" style="border : 30px solid #ff6a00; background: #ff6a00 url('https://c1.staticflickr.com/1/460/19249552213_e99c258e7c_m.jpg'); background-position: left; background-repeat: no-repeat;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </ul>
                <span id="current-user-name">
                    @if (@Request.Cookies["userName"] != null)
                    {
                        @Request.Cookies["userName"].Value
                    }
                </span>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container body-content" style="background-color:#DDDDDD">
        @RenderBody()

        <!-- Modal -->
        <div id="login-modal" class="modal" role="form">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login/Register</h4>
                    </div>
                    <form id="inital-login-form" onsubmit="return false;">
                        <div class="modal-body">

                            <fieldset>
                                <input name="Id" type="hidden" value="-2" />

                                <label>Name: </label>
                                <input name="Name" type="text" required />
                                <br />
                                <label>Email: </label>
                                <input name="Email" type="text" required />
                                <br />
                                <label>Location: </label>
                                <select name="Location" required>
                                    <option disabled selected value=""> -- Select a Location -- </option>
                                    <option value="Atlanta">Atlanta</option>
                                    <option value="Bothell">Bothell</option>
                                    <option value="Boulder">Boulder</option>
                                    <option value="Deerfield">Deerfield</option>
                                    <option value="EastLansing">EastLansing</option>
                                    <option value="Indianapolis">Indianapolis</option>
                                    <option value="Pulaski">Pulaski</option>
                                    <option value="Windsor">Windsor</option>
                                    <option value="WoodlandHills">WoodlandHills</option>
                                </select>
                            </fieldset>
                            <input type="submit" value="Register!" />

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Copyright &copy; VertaMeet 2015</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
