@model VertaMeet.Models.OfficeViewModel
@{
    ViewBag.Title = Model.Location + " Location";
}

<!--Make background image for Jumbotron locaton image (stored as a url; Model.Location@ImageUrl)-->
<div class="jumbotron" style="background-color:gray; background-image:url(https://c2.staticflickr.com/4/3794/19481250369_44ca92a3d9_b.jpg); background-repeat: no-repeat; background-position: 0% 25%; margin-bottom: 0px; background-position-x: 50%">
    <h1 align="left">@Model.Location</h1>
</div>

<h1>This is the @Model.Location office, welcome!</h1>
<h2>Here's an unformatted table of all our interest groups</h2>
<!--Interest Groups-->
<div class="InterestGroups">
    <h1>Interest Groups</h1>
    <div class="tiles red">
        <table>
            <tr>
                @foreach (var interestGroup in Model.InterestGroups)
                {

                    <td>
                        <div class="live-tile" id="tile1" data-mode="flip">
                            <div>
                                <img src="@interestGroup.ImageUrl" height="150" width="150">
                                <a class="full" href="~/Group/Index/@interestGroup.Id">@interestGroup.Name</a>
                                <span class="tile-title">@interestGroup.Name</span>
                            </div>
                            <div>
                                <a href="~/Group/Index/@interestGroup.Id"><img src="@interestGroup.ImageUrl" height="150" width="150"></a>
                                <span class="tile-title">@interestGroup.Name</span>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        </table>
    </div>
</div>
<script src="http://www.drewgreenwell.com/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="http://www.drewgreenwell.com/Scripts/MetroJs/bundles/MetroJs.js" type="text/javascript"></script>
<script type="text/javascript">
    //play on hover
    var $tiles = $("#tile1, #tiles2").liveTile({
        playOnHover: true,
        repeatCount: 0,
        delay: 0,
        startNow: false
    });
</script>