@model VertaMeet.Models.OfficeViewModel
@{
    ViewBag.Title = Model.Location + " Location";
}

<style>
    .signin input {
        width: 100%;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="add-modal" role="form">
    <div class="modal-dialog">
        <!-- Modal Content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Interest Group</h4>
            </div>
            <div class="modal-body">
                <a href="#" class="close"></a>
                <form method="post" class="signin" id="create_interestgroup" onsubmit="return false;">
                    <fieldset class="textbox">
                        <label class="username">
                            <span>Name: </span>
                            <input name="Name" type="text" required />
                        </label>
                        <label class="password">
                            <span>Description:</span>
                            <input name="Description" type="text" required />
                        </label>
                        <label class="password">
                            <span>Image Url:</span>
                            <input name="ImageUrl" type="text" required />
                        </label>
                        <label class="password" style="display:none;">
                            <select name="ManagerId">
                                <option value="@Request.Cookies["userId"].Value">@Request.Cookies["userName"].Value</option>
                            </select>
                        </label>
                        <button class="submit button" type="submit">Create Interest Group</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Welcome to the @Model.Location Location!</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" src="https://c1.staticflickr.com/9/8748/16967874051_648428ce49_c.jpg" alt="">
                <hr class="visible-xs">
                <p>We all feel a little more adventurous this time of year. As the sun comes out and the temperature rises, so does that restless voice inside us; urging us to live a little.</p>
                <p>So come on out and mingle with coworkers that share your passions! We like to have fun here at the @Model.Location Office and we hope you do too!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Here are all the different groups at the @Model.Location Office!</strong>
                </h2>
                <hr />
                <hr class="visible-xs">
                <div class="tiles orange">
                    <!--Interest Groups-->
                    <table>
                        <tr>
                            <td>
                                <div class="live-tile" id="tile1" data-mode="flip">
                                    <div data-toggle="modal" data-target="#add-modal">
                                        <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/3d-transparent-glass-icons-alphanumeric/068116-3d-transparent-glass-icon-alphanumeric-plus-sign-simple.png" height="150" width="150">
                                        <a class="full" href="#">Add</a>
                                        <span class="tile-title">Add</span>
                                    </div>
                                    <div data-toggle="modal" data-target="#add-modal">
                                        <a href="#"><img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/3d-transparent-glass-icons-alphanumeric/068116-3d-transparent-glass-icon-alphanumeric-plus-sign-simple.png" height="150" width="150"></a>
                                        <span class="tile-title">Add</span>
                                    </div>
                                </div>
                            </td>
                            @{var i = 1; var j = 0;}
                            @foreach (var interestGroup in Model.InterestGroups)
                            {
                                if (i == 4)
                                {
                                    j += 1;
                                    i = 0;
                                    <tr>
                                        <td>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    i += 1;
                                    j += 1;
                                    <td>
                                        <div class="live-tile" id="tile1" data-mode="flip">
                                            <div>
                                                <img src="@interestGroup.ImageUrl" height="150" width="150">
                                                <a class="full" href="~/Group/Index/@interestGroup.Id">@interestGroup.Name</a>
                                                <span class="tile-title">@interestGroup.Name</span>
                                            </div>
                                            <div>
                                                <a href="~/Group/Index/@interestGroup.Id"><img src="@interestGroup.ImageUrl" height="150" width="150"></a>
                                                <span class="tile-title">@interestGroup.Name</span>
                                            </div>
                                        </div>
                                    </td>
                                }

                            }
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://www.drewgreenwell.com/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="http://www.drewgreenwell.com/Scripts/MetroJs/bundles/MetroJs.js" type="text/javascript"></script>
<script type="text/javascript">
    //play on hover
    var $tiles = $("#tile1, #tiles2").liveTile({
        playOnHover: true,
        repeatCount: 0,
        delay: 0,
        startNow: false
    });
</script>